
.menu-bar {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.container {
    -fx-background-image: url("bg.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
      -fx-padding: 0;
        -fx-margin: 0;
}

.menu .label
{
	-fx-text-fill: white;
	  -fx-border-color: transparent transparent #a3a3a3 transparent;
         -fx-border-width: 0 0 1px 0;
    -fx-font-size:14px;
	  -fx-padding: 5px 5px 2px 5px;
	  -fx-margin:5px;
	    -fx-font-weight: 500;
}
.menu-item .label{
-fx-text-fill: black;
}

.menu-bar {
-fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-margin: 0;
}

.label{
    -fx-font-weight: 700;
    -fx-padding: 0 0 15 0;
}

.label2{
    -fx-text-fill: #555;
    -fx-font-weight: normal;
}
.title{
    -fx-font-size: 48px;
}
