
.menu-bar {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.container{
-fx-background-image: url("bg.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 1000 800;
    -fx-background-position: center center;
}

.menu {
    -fx-text-fill: white;
    -fx-underline: true;
}

.menu-item {
    -fx-text-fill: white;
    -fx-underline: true;
}

.label{
    -fx-font-weight: 700;
    -fx-padding: 0 0 15 0;
}

#label2{
    -fx-text-fill: #555;
    -fx-font-weight: normal;
}
#title{
    -fx-font-size: 48px;

}
